.lesson
  height: $container-height
  display: flex
  flex-direction: column

  .header, .content
    width: 100%
    color: $text
    display: flex
    justify-content: center
    align-items: center
  
  .header
    flex: 1

    h1
      font-family: $header-text
      font-size: $font-size-header

  .content
    flex: 4
    display: flex

    .left, .right
      width: 50%
      height: 100%
      display: flex
      flex-direction: column
      align-items: center

      .right-top, .right-bottom
        width: 100%
        display: flex
        flex-direction: column
        align-items: center
      
      .right-top
        height: 30%
        margin-bottom: 20px

      .right-bottom
        height: 60%
