.lesson
  height: $container-height
  display: flex
  flex-direction: column

  .header, .content
    width: 100%
    color: $secondary-color
    display: flex
    justify-content: center
    align-items: center
  
  .header
    flex: 1

    h1
      font-family: $header-text
      font-size: $font-size-header
      text-align: center

  .content
    flex: 4
    display: flex

    .left, .right
      width: 50%
      height: 100%
      display: flex
      flex-direction: column
      align-items: center

      .right-top, .right-bottom, .left-top
        width: 100%
        display: flex
        flex-direction: column
        align-items: center

      .left-top
        height: 70%
        margin-bottom: 20px
      
      .left-bottom
        height: 200px
        width: 100%
        display: flex
        flex-direction: row
        align-items: center
        justify-content: center

        .button-list
          width: 15%
          height: 100%
          display: flex
          flex-direction: column

          button
            flex: 1
            cursor: pointer
            font-family: $header-text
            font-size: $font-size-content
            background-color: $secondary-color
            color: $primary-color
            @include pixel-borders($corner-size: 2, $border-color: $secondary-color)
            outline: none
          
          .button-hint
            margin: 0 0 5px 10px

          .button-run
            margin: 5px 0 0 10px

      
      .right-top
        height: 30%
        margin-bottom: 20px

      .right-bottom
        height: 65%

.popup-content
  margin: auto
  width: 50%

.popup-overlay
  background: rgba(0, 0, 0, 0.6)
  outline: none


.modal 
  color: $secondary-color
  font-family: $content-text
  font-size: $font-size-content
  background-color: $primary-color
  padding: 1em
  @include pixel-borders($corner-size: 2, $border-color: $secondary-color)

  .header 
    width: 100%
    border-bottom: 1px solid gray
    font-size: 18px
    text-align: center
    padding: 5px

  .content 
    width: 100%
    padding: 10px 5px
    white-space: pre-wrap

  .close 
    cursor: pointer
    position: absolute
    display: block
    padding: 2px 5px
    line-height: 20px
    right: -10px
    top: -10px
    font-size: 24px
    background: $secondary-color
    border-radius: 18px
    border: 2px solid $primary-color
    outline: none