@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap')

@font-face
  font-family: 'Menlo Regular'
  font-style: normal
  font-weight: normal
  src: local('Menlo Regular'), url('../assets/fonts/menlo/Menlo-Regular.woff') format('woff')

$primary-color: #1F1F1F
$secondary-color: #00FF00
$text: #00FF00
$text-on-color: #00FF00
$text-red: #f66
$text-white: #eee
$roboto: 'Roboto', sans-serif
$content-text: 'Menlo Regular', normal
$header-text: 'Press Start 2P', cursive
$font-size-header: 3.35em
$font-size-subheader: 1.7em
$font-size-link: 1.25em
$font-size-content: 1.1em
$bold: 700
$container-height: 92vh
